name: Actualizar Repo en Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_SERVER }}
          username: ${{ secrets.USER_SERVER }} # Debería ser 'root'
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT_SERVER }}
          script: |
            cd ${{ secrets.PATH_FOLDER_SAVE }}
            
            # 1. Traer cambios de GitHub
            git fetch --all
            git reset --hard origin/main
            
            # 2. Asegurar permisos (Cambiado a root)
            chown -R root:root .
            chmod -R 755 .

            # 3. Crear/Actualizar el .env dinámicamente
            printf "HOST_DBB=${{ secrets.HOST_DBB }}\nUSER_DBB=${{ secrets.USER_DBB }}\nPASSWORD_DBB=${{ secrets.PASSWORD_DBB }}\nDB_NAME_DBB=${{ secrets.DB_NAME_DBB }}\nPORT_DBB=${{ secrets.PORT_DBB }}\n" > .env

            # 4. Actualizar librerías si hubo cambios en requirements
            source venv/bin/activate
            pip install -r requirements.txt